<div class="title">
  <h1>Save any kind of movies</h1>
</div>

<div>
  <h2>My Lists</h2>
  <% @lists.each do |l| %>
  <%= link_to  l.name, list_path(l.id), class: 'btn btn-success' %>
  <% end %>
</div>

<%= link_to "Create a movie list", new_list_path, class: 'btn btn-success' %>
